# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-aside
*.xcscmblueprint
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# App Store distribution
*.mobileprovision
*.provisionprofile

# Logs
*.log

# Temporary files
*.swp
*.swo
*~
